/* page header */

.header
{
	background: url(unisim.png) no-repeat top left;
}

/* area of the unisim icon */

.logo-sensitive-area
{
	float:left;
	position: relative;
	left:0px;
	top:0px;
	width:152px;
	height:132px;
}

/* separator */

.separator
{
	visibility:visible;
}

.download-file
{
	background: url(file_icon.png) no-repeat center left;
	padding-left: 18px;
	height:16px;
}

.download-pdf
{
	background: url(pdf_icon.png) no-repeat center left;
	padding-left: 18px;
	height:16px;
}

.download-video
{
	background: url(video_icon.png) no-repeat center left;
	padding-left: 18px;
	height:16px;
}

.online-document
{
	background: url(online_document_icon.png) no-repeat center left;
	padding-left: 18px;
	height:16px;
}

.download-win
{
	background: url(win.png) no-repeat center left;
	padding-left: 18px;
	height:16px;
}

.download-linux
{
	background: url(tux.png) no-repeat center left;
	padding-left: 18px;
	height:16px;
}

.download-macosx
{
	background: url(macosx.png) no-repeat center left;
	padding-left: 18px;
	height:16px;
}
