html { box-sizing:border-box; }
*, *:before, *:after { box-sizing: inherit; }

body{ font-family:Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;text-align:left;font-weight:400;color:#000;margin-left:auto;margin-right:auto;background:#FFF; }
table{ width:1280px; margin-left:auto; margin-right:auto; }
table th { text-align:center; }
table th { font-weight:bold; }
table td { text-align:left; }
table { border-style:solid; }
table { border-width:1px; }
table { border-collapse: collapse; }
th, td { margin:0; }
th, td { border-style:solid; }
th, td { border-width:1px; }
th, td { border-width:1px; }
.var-table { margin-left:8px; padding:0; }
.var-table td { padding:2px; }
.var-name { width:160px;  }
.var-value { width:244px; }
.var-value form { width:244px; }
.var-type { width:60px; }
.var-data-type { width:60px; }
.var-description { width:200px; }
input.var-value-text { width:240px; height:21px; border: 1px solid #a9a5a2; border-radius: 3px; box-shadow:inset 0px 2px 0px #e4e3e1; }
input.disabled { background-color:#edeceb; width:240px; height:21px; border: 1px solid #a9a5a2; border-radius: 3px; box-shadow:inset 0px 2px 0px #dedddd; }
