/* text style */

h1
{
	font-family:"sans serif";
	font-style:normal;
	font-size:24px;
	text-align:left;
	font-weight:bold;
	color:black;
}

h2
{
	font-family:"sans serif";
	font-style:normal;
	font-size:20px;
	text-align:left;
	font-weight:bold;
	color:black;
}

h3
{
	font-family:"sans serif";
	font-style:normal;
	font-size:16px;
	text-align:left;
	font-weight:normal;
	color:black;
}

p
{
	font-family:"sans serif";
	font-style:normal;
	font-size:14px;
	text-align:left;
	font-weight:normal;
	color:black;
}

li
{
	font-family:"sans serif";
	font-style:normal;
	font-size:14px;
	text-align:left;
	font-weight:normal;
	color:black;
}

/* page position and size */
 
.page
{
	margin-left: auto; 
	margin-right: auto; 
	width:1024px;
}

/* page header */

.header
{
	background: url(unisim.png) no-repeat top left;
	height:144px;
}

/* navigation menu */

.menu
{
	width:100%;
	background-color:black;
	color:white;
}

.menu-item
{
	font-family:"sans serif";
	font-style:normal;
	font-size:14px;
	text-align:center;
	font-weight:bold;
	background-color:black;
	color:white;
	text-decoration:none;
	border-width:0;
}

table.menu td
{
	width:25%;
}

td.menu-item a
{
	display:block;
	width:100%;
	height:100%;
	color:white;
	text-decoration:none;
}

td.menu-item:hover
{
	background-color:#aa0000;
}

/* left side (content) and right side (aside) of the page */

.aside
{
	float:right;
	width:380px;
}

.content
{
	float:left;
	width:640px;
}

.aside-item, .content-item
{
	margin: 0 auto;
	font-size: 100%;
}

.aside-item-title, .content-item-title
{
	margin: 0;
	padding: 0;
	text-align: center;
}

.aside-item-title h2, .content-item-title h2
{
	text-align:center;
	margin: 0;
	padding: 20px 30px 5px;
	color: black; 
	font-weight: bold; 
	font-size: 1.2em; 
	line-height: 1em;
}

.aside-item-body, .content-item-body
{
	margin: 0;
	padding: 5px 30px 31px;
}

.aside .aside-item, .aside .content-item
{
	width:380px;
}

.content .aside-item, .content .content-item
{
	width:628px;
}

/* separator */

.separator
{
	width:100%;
	height:3px;
	background-color:black;
}

/* download */

.download-file a
{
}

.download-pdf a
{
}

.download-video a
{
}

/* theme switch */

.theme-switcher
{
	clear:both;
	width:100%;
	background-color:black;
	color:white;
	font-family:"sans serif";
	font-style:normal;
	font-size:10px;
	text-align:center;
	font-weight:normal;
}

/* page footer */

.footer
{
	clear:both;
	width:100%;
	font-family:"sans serif";
	font-style:normal;
	font-size:10px;
	text-align:center;
	font-weight:normal;
	background-color:black;
	color:white;
}

.footer a
{
	color:white;
	text-decoration:none;
}

#include "style.css"
