/* page header */

body
{
	width:1024px;
}

.header
{
	background: url(unisim.png) no-repeat top left;
}

/* area of the unisim icon */

.logo-sensitive-area
{
	float:left;
	position: relative;
	left:0px;
	top:0px;
	width:152px;
	height:132px;
}

.aside
{
	float:right;
	width:384px;
}

.content
{
	float:left;
	width:640px;
}


/* item separator */

.separator
{
	visibility:visible;
}

/* content/aside separator */
.separator
{
	visibility:hidden;
}

.download-file
{
	background: url(file_icon.png) no-repeat center left;
	padding-left: 18px;
	height:16px;
}

.download-pdf
{
	background: url(pdf_icon.png) no-repeat center left;
	padding-left: 18px;
	height:16px;
}

.download-video
{
	background: url(video_icon.png) no-repeat center left;
	padding-left: 18px;
	height:16px;
}

.online-document
{
	background: url(online_document_icon.png) no-repeat center left;
	padding-left: 18px;
	height:16px;
}

.download-win
{
	background: url(win.png) no-repeat center left;
	padding-left: 18px;
	height:16px;
}

.download-linux
{
	background: url(tux.png) no-repeat center left;
	padding-left: 18px;
	height:16px;
}

.download-macosx
{
	background: url(macosx.png) no-repeat center left;
	padding-left: 18px;
	height:16px;
}

/* hint-list */
.hint-list
{
	width:100%;
	display:table;
}

.hint
{
	display:table-row;
	width:100%;
}

.hint-question
{
	float:none;
	width:25%;
	font-style:normal;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	padding:0.5em 0 0.5em 0;
}

.hint-question a
{
	text-decoration:none;
}

.hint-question a.hover
{
	color:#aa0000;
}

.hint-answer
{
	float:none;
	display:table-cell;
	width:75%;
	text-align:justify;
	padding:0.5em 0 0.5em 0;
}

.image-view
{
	width:1024px;
}
