body{ font-family:Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;text-align:left;font-weight:400;color:#000;margin:0;background:#FFF; }
h1 { font-size:16px }
a:link { text-decoration:none }
#title { position:absolute; left:154px; top:4px; margin:0; } 
#show-table { position:absolute; left:4px; top:4px; }
#save-histogram { position:absolute; left:50px; top:4px; }
#save-table { position:absolute; left:96px; top:4px; }
#histogram { position:absolute; left:4px; top:64px; margin:0; }
