Package: unisim-simulator
Version: 1.0-1
Section: devel
Priority: optional
Architecture: i386
Depends: libncurses5 (>= 5.5), libreadline5 (>= 5.2), libxml2 (>= 2.6.27), libsdl1.2debian (>= 1.2.11),  libstdc++6 (>= 4.1.2), libc6 (>= 2.5), libgcc1 (>= 4.1.2)
Maintainer: Gilles Mouchard <gilles.mouchard@cea.fr>
Description: UNISIM Simulators
