Source: libieee1666
Priority: optional
Section: libs
Maintainer: Gilles Mouchard <gilles.mouchard@cea.fr>
Build-Depends: debhelper (>= 9), dh-autoreconf, autotools-dev, pkg-config
Homepage: http://unisim-vp.org

Package: libieee1666
Priority: standard
Architecture: any
Description: A free implementation of IEEE Standard for Standard SystemC(R) Language Reference Manual (IEEE 1666-2011).

Package: libieee1666-dbg
Priority: standard
Architecture: any
Description: A free implementation of IEEE Standard for Standard SystemC(R) Language Reference Manual (IEEE 1666-2011).

Package: libieee1666-dev
Priority: standard
Architecture: any
Section: libdevel
Depends: libieee1666 (= 0.0.0-1)
Description: Dynamic and static libraries, include files, etc you can use to develop SystemC modules and simulators.

Package: libieee1666-static-dev
Priority: standard
Architecture: any
Section: libdevel
Depends: libieee1666 (= 0.0.0-1)
Description: static Libraries you can use to develop SystemC modules and simulators.

